*{
	margin: 0;
	padding: 0;
}
.black{
	background-color: black;
}
.white{
	background-color: white;
}
#table{	
	height: 720px;
	width: 720px;
	border: 2px solid green;
	margin-top:150px;
	margin-left:150px;
	display: flex;
	flex-wrap: wrap; 
}
.kvadrat{
	width: 90px;
	height: 90px;
	box-sizing: border-box;
}
.point{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	position: relative;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: yellow;
}
.point_green{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	position: relative;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color:green;
}
.point_green_queen{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	position: relative;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color:blue;
	}
/*@keyframes rotating{
	100%{transform: rotate(180deg);}
}*/
.table{
/*	animation: rotating 1s linear ;
*/	transform: rotate(180deg);
}